body
{
  margin: 0;
  padding: 0;
  font-family: sans-sarif;
  background: url(2.jpg) no-repeat;
  background-size: cover;
} 
.welcome{
background:#0000CD;
background-size:cover;
}
.welcome h1{
color:#ffffff;} 

.b1{
 border:2px solid #0000CD;}
.btn0
{ 

display: block;
margin-left: auto;
width:8%; 
 background:#0000CD;

color:#ffffff;
cursor:pointer;
padding:16px;  
border-radius: 14px;

}.btn1
{
display: block;
margin: 0 auto;
width:60%; 
 background:#0000CD;

color:#ffffff;
cursor:pointer;
padding:15px;  
border-radius: 14px;

}.btn2
{

width:14%; 
 background:#0000CD;

color:#ffffff;
cursor:pointer;
padding:15px;  
border-radius: 14px;

}.btn3
{
display: block;
margin: 0 auto;
width:50%; 
 background:#0000CD;

color:#ffffff;
cursor:pointer;
padding:15px;  
border-radius: 14px;

}