@import"https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";
body
{
  margin: 0;
  padding: 0;
  font-family: sans-sarif;
  background: url(12.jpg) no-repeat;
  background-size: cover;
} 
.box
{ ;
  
  position: absolute; 
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%); 
  color :#ffffff;
  background:rgba(0,0,0,.8); 
  width:600px; 
  padding:40px;
  box-sizing:border-box;
  
 
  box-shadow: 0 20px 35px rgba(0,0,0,.8);
  border-radius: 20px;

} 
.box h1
{
 color:#ffffff;
font-size: 50px;
border-bottom: 5px solid #0000CD;
margin-bottom: px; 
} 
.loginbox
{
width:100%;
overflow:hidden;
font-size:20px; 
border-bottom: 5px solid #0000CD;
padding:5px;} 
.loginbox input
{ width:50%;
border:none;
outline:none;
background:rgba(0,0,0,.100); 
textarea-color:#ffffff;
colour:whiye; 
padding:10px;
} 
input,select, textarea{
color:#ffffff;}
.loginbox i
{ width:10px;
padding:2px;
   } 
.btn
{width:100%; 

 
 background:#0000CD;
border: 2px solid #ffffff;
color:#ffffff;
cursor:pointer;
padding:10px;  
border-radius: 20px;

}

