@import"https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";
body
{
  margin: 0;
  padding: 0;
  font-family: sans-sarif;
  background: url(6.jpg) no-repeat;
  background-size: cover;
} 
.box
{ ;
  
  position: absolute; 
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%); 
  color :#ffffff;
  box-sizing:border-box;
  width:600px;
  
 
  box-shadow: 0 20px 35px rgba(0,0,0,.8);
  border-radius: 20px;

} 
.box h1
{
 color:#ffffff;
font-size: 50px;

margin-bottom: px; 
} 
.loginbox
{
width:100%;
overflow:hidden;
font-size:20px; 

padding:5px;} 
.loginbox input
{ width:50%;
border:none;
outline:none;

textarea-color:#ffffff;
colour:whiye; 
padding:10px;
} 
input,select, textarea{
}
.loginbox i
{ width:10px;
padding:2px;
   } 
.btn1
{width:100%; 

 
 
border: 2px solid #ffffff;
color:#ffffff;
cursor:pointer;
padding:10px;  
border-radius: 20px;

}


